{% extends 'base.html.twig' %}

{% block title %} | {{ title }}{% endblock %}

{% block admin_body %}
    <section class="container">
        {{ include('notifications/_form.html.twig', {button_label : 'Update'}) }}
    </section>
{% endblock %}

