{% extends 'base.html.twig' %}

{% block title %} | {{ title }}{% endblock %}

{% block admin_body %}
    <section class="container">
        {{ include('profits/_form.html.twig') }}
    </section>
{% endblock %}
