{% extends 'base.html.twig' %}

{% block title %}Edit OffersMenus{% endblock %}

{% block body %}
    <h1>Edit OffersMenus</h1>

    {{ include('offers_menus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offers_menus_index') }}">back to list</a>

    {{ include('offers_menus/_delete_form.html.twig') }}
{% endblock %}
