{% extends 'base.html.twig' %}

{% block title %} | {{ title }}{% endblock %}

{% block admin_body %}
    <section class="container">
        {{ include('offers_menus/_form.html.twig', {button_label : 'Update'}) }}
    </section>
{% endblock %}

{% block js %}
    <script src="{{ asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
{% endblock %}
