{% extends 'base.html.twig' %}

{% block title %}Edit DayTimes{% endblock %}

{% block body %}
    <h1>Edit DayTimes</h1>

    {{ include('day_times/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_day_times_index') }}">back to list</a>

    {{ include('day_times/_delete_form.html.twig') }}
{% endblock %}
