{% extends 'base.html.twig' %}

{% block title %}Edit HeaderSlider{% endblock %}

{% block body %}
    <h1>Edit HeaderSlider</h1>

    {{ include('header_slider/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_header_slider_index') }}">back to list</a>

    {{ include('header_slider/_delete_form.html.twig') }}
{% endblock %}
